
table {
    border: 2px solid cornflowerblue;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px solid cornflowerblue;
    width: 250px;
    max-width: 250px;
    text-align: center;
    height: 30px;
    overflow: hidden;
}
tr:nth-child(2n) {
    background: #e7f5ff;
}

tr:hover td {
    background: #cbe3ff;
}

button {
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
}

.delButton {
    background: url('../../assets/images/del.png');
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #c8d5fc;
}

.deleteCol {
    width: 25px;
}

.timeCol {
    width: 100px;
}
