ul {
    margin: 0;
    padding: 0;
}

table {
    border: groove;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: groove;
    width: 25em;
    text-align: center;
    overflow:auto;
    height: 1.5em;
}

button {
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
}

button:hover {
    background-color: #c8d5fc;
}
.deletecol{
    width: 25px;
}
