<table>
    <tr *ngFor="let elem of tableArray; trackBy: trackById; let i = index">
        <td>
            {{elem.text}}
        </td>
        <td>
            {{elem.text | translatePipe}}
        </td>
        <td>
            {{elem.date | date:'dd.MM.yyyy H:mm:ss' }}
        </td>
        <td class="deleteCol">
            <button (click)="deleteItem(i)" [attr.title]="'deleteButton' | translate"
                    class="delButton"></button>
        </td>
    </tr>
</table>

