
.flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.formDiv {
    margin: 8px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-basis: 100px;
    border: 2px solid cornflowerblue;
    flex-shrink: 0;
}

.inputDiv {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}

.langDiv {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    flex-basis: 50px;
}

.tableDiv {
    display: flex;
    font-family: 'Comfortaa', cursive;
    overflow: auto;
    width: 660px;
    margin: 0 auto;
}

.button {
    font-family: 'Comfortaa', cursive;
    width: 100px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    border: 1px solid cornflowerblue;
}

.button:hover {
    background-color: #cbe3ff;
}

.button[disabled]:hover {
    background: white;
}

input {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    width: 300px;
    border: 1px solid cornflowerblue;
}

input :focus {
    border: groove #eeeeee;
}

