
.flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.formDiv {
    margin: 8px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-basis: 100px;
    border: 2px solid cornflowerblue;
    flex-shrink: 0;
}

.inputDiv {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    align-items: center;
    flex: 1;
}

.langDiv {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px
}

.tableDiv {
    display: flex;
    font-family: 'Comfortaa', cursive;
    overflow: auto;
    width: 660px;
    margin: 0 auto;
}

.button {
    font-family: 'Comfortaa', cursive;
    width: 100px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #f3f3f0;
    cursor: pointer;

}

.button:hover {
    background-color: #cbe3ff;
}

.button[disabled]:hover {
    background: #f3f3f0;
}

input {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    width: 300px;
    border: 1px solid cornflowerblue;
}

input :focus {
    border: groove #eeeeee;
}


.dropbtn {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    width: 110px;
    border-radius: 5px;
    background: #f3f3f0;
}

.dropbtn:active {
    border-style: outset;
}


.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    z-index: 1;
    cursor: pointer;

}

.dropdown-content a {
    border: 0.5px solid cornflowerblue;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;

}
.dropdown-content a:hover {
    opacity: 0.7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    margin: 0;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #cbe3ff;
}
.activeLang{
    background:#cbe3ff ;
}
.deactiveLang{
    background: #f3f3f0;;
}


