<div class="formDiv">
    <div class="inputDiv">
        <input (keydown.enter)=changeHandler() [(ngModel)]="text" [attr.placeholder]="'input' | translate"
               type="text">
        <button (click)=changeHandler() [attr.title]="'addButtonTitle' | translate" [disabled]="!text"
                class="button" style="user-focus: none">
            {{ 'addButton' | translate }}
        </button>
    </div>
    <div class="langDiv">
        <div class="dropdown">
            <button class="dropbtn">{{ 'langChoice' | translate}}</button>
            <div class="dropdown-content">
                <a  class="lang" (click)="useLanguage(language.en)"
                   [style.background]="activeLang(language.en)" href="#">{{ language.en | translate}}</a>
                <a class="lang" (click)="useLanguage(language.ru)" [style.background]="activeLang(language.ru)"
                   href="#">{{ language.ru| translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="tableDiv">
    <app-table [ngModel]="dataArray"></app-table>
</div>

