
.inputDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(0, -50%)
}

.formDiv {
    height: 10vh;
    text-align: center;
    position: relative;
    border: 2px solid cornflowerblue;

}

.langDiv {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%)

}

.button {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #f3f3f0;
}

.button:hover {
    background-color: #cbe3ff;
}

.button[disabled]:hover {
    background: #f3f3f0;
}

input {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    width: 300px;
    border: 1px solid cornflowerblue;
}

input :focus {
    border: groove #eeeeee;
}

.listDiv {
    position: relative;
    font-family: 'Comfortaa', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 84vh;
    overflow: auto;
    width: 40em;
}

.dropbtn {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    width: 110px;
    border-radius: 5px;
    background: #f3f3f0;
}
.dropbtn:active { border-style: outset;}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    z-index: 1;
}

.dropdown-content a {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    margin: 0;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #cbe3ff;
}
.lang{
}
.lang:hover{
    opacity: 0.7;
}


